body {
    background-color: #FFFFE0;
    font-family: Arial, sans-serif;
    color: #191970;
}
    .kartu-profil {
        width: 300 px;
        margin: 50 px auto;
        padding: 20 px;
        background-color: white;
        border-radius: 15 px;
        box-shadow: 0 4 px 8 px rgba(0,0,0,0.1);
}
.kartu-profil img {
    widht: 150 px;
    border-radius: 50%;
}
